
*{margin:0; padding:0;}
body{ font-family: 'Open Sans', sans-serif; background:#455268;}
img{border:0;}
h1{font-family: 'Oswald', sans-serif; font-weight:50px;}
h2{font-family: 'Open Sans', sans-serif; font-weight:normal; font-size:50px;}
h3{font-family: 'Open Sans', sans-serif; font-weight:normal; font-size:50px; color:#fff; }
/*h2{font-family: 'Oswald', sans-serif; font-weight:normal; font-size:16px;}
*/p{font-family: 'Open Sans', sans-serif; font-size:13px; padding-bottom:20px;}
a{color:#9cff00;}
a:hover{color:red;}
h1:hover{color:blue;}
h2:hover{color:blue;}

footer, a{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
list-style: none;
text-decoration: none;
display: inline-block;
margin-bottom: 0;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
padding: 5px 9px;
font-size: 11px;
line-height: 16px;
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #49afcd;
background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

button.accordion:hover {
  background-color:grey;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.panel {


  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
