
*{margin:0; padding:0;}
body{ font-family: 'Open Sans', sans-serif; background:#455268;}
img{border:0;}
h1{font-family: 'Oswald', sans-serif; font-weight:50px;}
h2{font-family: 'Open Sans', sans-serif; font-weight:normal; font-size:50px;}
h3{font-family: 'Open Sans', sans-serif; font-weight:normal; font-size:50px; color:#fff; }
/*h2{font-family: 'Oswald', sans-serif; font-weight:normal; font-size:16px;}
*/p{font-family: 'Open Sans', sans-serif; font-size:13px; padding-bottom:20px;}
a{color:#9cff00; text-decoration:none;}
a:hover{ color:red;}
h1:hover{color:blue;}
h2:hover{color:blue;}

footer, a{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
list-style: none;
text-decoration: none;
display: inline-block;
margin-bottom: 0;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
padding: 5px 9px;
font-size: 11px;
line-height: 16px;
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #49afcd;
background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion:hover {
  background-color:grey;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
